<nav class="navbar navbar-expand-lg navbar-light table-success">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link dropdown-toggle" routerLink="/candidates-list" [state]="{username:this.userName}" routerLinkActive="active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Candidate<span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/create-candidate" [state]="{username:this.userName}" routerLinkActive="active">Add Candidate</a>
          <a class="dropdown-item" routerLink="/candidates-list" [state]="{username:this.userName}" routerLinkActive="active">View Candidate</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/manage-questionbank" routerLinkActive="active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Questions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/manage-questionbank" routerLinkActive="active">Add question</a>
          <a class="dropdown-item" routerLink="/manage-questionbank-bulk" routerLinkActive="active">Add Bulk Question</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/jrss-create" routerLinkActive="active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Metadata
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/jrss-create" routerLinkActive="active">Add JRSS</a>
          <a class="dropdown-item" routerLink="/stream-create" routerLinkActive="active">Add Technology Stream</a>
          <a class="dropdown-item" routerLink="/testconfig-add" routerLinkActive="active">Add Test Configuration</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-testresults"routerLinkActive="active">View TestResults</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login-component" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br/>
<h4 class="my-0 mr-md-auto font-weight-normal">View Candidates</h4>
<br/>
<div class="container">
  <!-- No data message -->
  <p *ngIf="Candidate.length <= 0" class="no-data text-center">There is no candidate added yet!</p>

  <!-- Candidate list -->
  <table class="table table-bordered" *ngIf="Candidate.length > 0">
    <thead class="table-success">
    <tr>
      <th scope="col" width="10%">Name</th>
      <th scope="col" width="10%">Email</th>
      <th scope="col" width="5%">Band</th>
      <th scope="col" width="30%">JRSS</th>
      <th scope="col" width="10%">Phone No</th>
      <th scope="col" width="5%">Status</th>
      <th scope="col" width="2%">Quiz No</th>
      <th scope="col center" width="30%">Update</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let candidate of Candidate | paginate: config; let i = index">
      <td *ngIf="candidate.candidate_users.length > 0" width="10%">{{candidate.employeeName}}</td>
      <td *ngIf="candidate.candidate_users.length > 0" width="10%">{{candidate.username}}</td>
      <td *ngIf="candidate.candidate_users.length > 0" width="5%">{{candidate.band}}</td>
      <td *ngIf="candidate.candidate_users.length > 0" width="30%">{{candidate.JRSS}}</td>
      <td *ngIf="candidate.candidate_users.length > 0" width="10%">{{candidate.phoneNumber}}</td>
      <td *ngIf="candidate.candidate_users.length > 0" width="5%">{{candidate.candidate_users[0].status}}</td>
      <td *ngIf="candidate.candidate_users.length > 0" width="2%">{{candidate.candidate_users[0].quizNumber}}</td>
      <td *ngIf="candidate.candidate_users.length > 0" class="text-center edit-block" width="30%">
        <a class="edit" [routerLink]="['/edit-candidate/', candidate._id, candidate.candidate_users[0]._id]" [state]="{username:this.userName}">
            <button type="button" class="btn btn-success btn-sm">Edit</button>&nbsp;
        </a>
        <a class="delete" (click)="removeCandidate(candidate,i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>&nbsp;
        </a>
        <a class="edit" (click)="updateCandidateStatus(candidate, i)">
            <button type="button" class="btn btn-success btn-sm">{{candidate.state}}</button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
</div>

