<nav class="navbar navbar-expand-lg navbar-light table-success">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link dropdown-toggle" routerLink="/candidates-list" [state]="{username:this.userName}" routerLinkActive="active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Candidate
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/create-candidate" [state]="{username:this.userName}" routerLinkActive="active">Add Candidate</a>
          <a class="dropdown-item" routerLink="/candidates-list" [state]="{username:this.userName}" routerLinkActive="active">View Candidate</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Questions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/manage-questionbank" routerLinkActive="active">Add question</a>
          <a class="dropdown-item" routerLink="/manage-questionbank-bulk" routerLinkActive="active">Add Bulk Question</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Metadata<span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/jrss-create" routerLinkActive="active">Add JRSS</a>
          <a class="dropdown-item" routerLink="/stream-create" routerLinkActive="active">Add Technology Stream</a>
          <a class="dropdown-item" routerLink="/testconfig-add" routerLinkActive="active">Add Test Configuration</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-testresults"routerLinkActive="active">View TestResults</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login-component" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br/>
<div class="row justify-content-center">
  <div class="col-md-8 register-employee">
    <h4 class="my-0 mr-md-auto font-weight-normal">Add Test Configuration</h4>
    <br/>
    <!-- form Test Config -->
    <div class="card-body">
      <form [formGroup]="testConfigAddForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="inputJRSS3" class="col-sm-4 col-form-label">JRSS</label>
          <div class="col-sm-8">
            <select class="custom-select form-control" (change)="updateJrssProfile($event.target.value)"
                    formControlName="JRSS" id="inputJRSS3" [ngClass]="{ 'is-invalid': submitted && myForm.JRSS.errors }">
              <option value="">Choose...</option>
              <option *ngFor="let jrss of JRSS" value="{{jrss.jrss}}">{{jrss.jrss}}
              </option>
            </select>
            <div *ngIf="submitted && myForm.JRSS.errors" class="invalid-feedback">
              <div *ngIf="myForm.JRSS.errors.required">JRSS is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputNoOfQuestions3" class="col-sm-4 col-form-label">Number of Questions</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="noOfQuestions" id="inputNoOfQuestions3" [ngClass]="{ 'is-invalid': submitted && myForm.noOfQuestions.errors }" maxlength="3" minlength="1">
            <div *ngIf="submitted && myForm.noOfQuestions.errors" class="invalid-feedback">
              <div *ngIf="myForm.noOfQuestions.errors.required">Number of Questions is required</div>
              <div *ngIf="myForm.noOfQuestions.errors.pattern">Invalid Number of Questions</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputTestDuration3" class="col-sm-4 col-form-label">Test Duration(in Minutes)</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="testDuration" id="inputTestDuration3" [ngClass]="{ 'is-invalid': submitted && myForm.testDuration.errors }" maxlength="10" minlength="2">
            <div *ngIf="submitted && myForm.testDuration.errors" class="invalid-feedback">
              <div *ngIf="myForm.testDuration.errors.required">Test Duration is required</div>
              <div *ngIf="myForm.testDuration.errors.pattern">Invalid Test Duration</div>
            </div>
          </div>
        </div>

        <div class="form-group" class="text-center" style="width: 100px">
          <button class="btn btn-success btn-lg btn-block" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br/>
<h4 class="my-0 mr-md-auto font-weight-normal">Test Config List</h4>
<br/>
<div class="container">
  <!-- No data message -->
  <p *ngIf="TestConfigs.length <= 0" class="no-data text-center">There are no records added yet!</p>

  <!-- Test Config list -->
  <table class="table table-bordered" *ngIf="TestConfigs.length > 0">
    <thead class="table-success">
    <tr>
      <th scope="col center">JRSS</th>
      <th scope="col center">No Of Questions</th>
      <th scope="col center">Test Duration(in Minutes)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let testConfig of TestConfigs; let i = index">
      <td>{{testConfig.JRSS}}</td>
      <td>{{testConfig.noOfQuestions}}</td>
      <td>{{testConfig.testDuration}}</td>
      <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/testconfig-edit/', testConfig._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>


